section#news_teaser {
  article {
    margin-bottom: var(--spacer-2);
    padding-bottom: var(--spacer);
    box-shadow: -2px 0px 4px var(--color-3);
    border-radius: 4px;
    :not(img) {
      padding: 0 var(--spacer-half);
    }
    img {
      width: 100%;
      border-radius: 4px 4px 0 0;
      margin-bottom: var(--spacer-half);
    }
  }
}

// *** TABLETS ***
//* Applies to everything 768px wide and larger.
$breakpoint-tablet: 800px;
@media (min-width: $breakpoint-tablet) {
  section#news_teaser {
    article {
      --font-base: 1.25rem;
      h3 {
        font-size: 1em;
      }
    }
  }
}

// *** LARGE SCREENS ***
//* Applies to everything 1200px wide and larger.
// $breakpoint-tablet: 1400px;
// @media (min-width: $breakpoint-tablet) {
//   section#news_teaser {
//   }
// }
